h1{
    font-size: 100%;
    color: orchid;
    
}


.exDiv{
    color: rgb(123,132,213) ;
}
#a{
    font-size: 200%;
}
#b{
    font-size: 150%;
}
#c{
    font-size: 125%;
}

header{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    background-color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}