body {
    margin: auto;
    font-family: Arial, sans-serif;
    background-image: url(img/prog_opac.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 1%;
}
header{
    font-size: 200%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;    
}
main{
    text-align: left;
    width: 1000px;
}
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
#fieldTitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 500;
}
#title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
fieldset{
    border-width: 1ch;
    border-color: rgb(151, 168, 223);
}

/* Costumizar controlos áudio */
audio::-webkit-media-controls-panel {
    justify-content: right;
    background-color: rgb(148, 167, 221);
}

audio::-webkit-media-controls-play-button {
    background-color: transparent;
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display{
    display: none;
}








